@import 'tailwindcss';

:root {
  --color-background: #f5f5f5;
  --color-on-background: #111111;
  --color-surface: #ffffff;
  --color-on-surface: #111111;
  --border-color: #111111;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: 'Inter', sans-serif;
  margin: 0;
}
